<h1 style="font-variant:small-caps;">Review Page</h1>
 <div class="panel panel-default">
    <table id="tableshow">
       <tr>
         <th>Title</th>
         <th>Text</th>
       </tr>
       <tr>
         <td><%= @note.title %></td>
         <td><%= @note.note %></td>
       </tr>
    </table>
</div>
<%=link_to "Edit", edit_note_path %>
<%= link_to "Back To The Home Page", notes_path %>
