
 <h1 style="font:italic small-caps bold 15px georgia;font-size:40px;" id="greeting">Welcome to My Notes site</h1>
	
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
       <a  style="text-shadow:4px 4px 8px red ;" class="navbar-brand" href="#">MY NOTES</a>
       
         <%= link_to "login", signin_path, :class => "btn btn-primary btn-sm navbar-right"%>
         <%= link_to "Signup", signup_path, :class => "btn btn-primary btn-sm navbar-right"%>
              
      </div>
   </nav>
 



